body { 
    background-color: #f3f4e4;
}



.body-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
}



.lesson-card {
    background-color: #FFFFFF;
    padding: 16px 32px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.lesson-card:hover {
    border: 2px solid #9a9a9a;
}

#lesson-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.Lesson-card-title {
    font-family: Oxygen, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    font-weight: 600;
    color: #3d3d3d;
}

.Lesson-card-description {
    font-family: Oxygen, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    font-weight: 300;
    color: #989898;
}

